ruff==0.8.4
mypy==1.13.0
pytest==8.3.4
pytest-cov==6.0.0
pytest-django==4.9.0
bandit==1.8.0
vulture==2.14
pip-audit==2.7.3
autoflake==2.3.1
xenon==0.9.3
import-linter==2.1
semgrep==1.98.0
django-stubs==5.1.1
types-requests==2.32.0.20241016
